cache/*
db/*.sqlite3
db/test.sqlite3
config/database.yml
tmp/*
coverage/**/*
.DS_Store
log/*
.idea/*
db/schema.rb
*.gem
.dotest
public/cache
*.tmp*~
.loadpath
.project
rerun.txt
coverage
weavings_test_photos
weavers_test_photos
