<p><b>First Name:</b> <%= @content_block.name %></p>
<p><b>Last Name:</b> <%= @content_block.last_name %></p>
<p>Weaver Photo:<br/><br/><img src="<%= @content_block.attachment_link %>" alt="Weaver Photo" height="480px" width="640px"><br/></p>
<p><b>Description:</b> <%= @content_block.description %></p>
