
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Spanish Name:</b> <%= @content_block.spanish_name %></p>
<p><b>Low Stock Level:</b> <%= @content_block.low_stock_level %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
